# java byte code
*.class

# c binary
*.o
*.out

# tmp file
*.swp

# Package Files #
*.war
*.ear

# bin folder
java/bin/

# eclipse
c/Debug/

# vim cache files
*~

# auto generated
android/app/bin/
android/app/gen/

# open office temp files
.~*

# eclipse
android/app/project.properties
android/app/.settings
android/app/.classpath
android/app/.project

# bakeup file
*.bak

# secret files
Secret.java
secret.properties
