<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.vhow.android.basic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".AndroidBasicActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".handler.HandlerActivity" android:label="@string/activity_label_handler">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="org.vhow.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity android:name=".display.DisplayInfo" android:label="@string/activity_label_display_info">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="org.vhow.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity android:name=".touch.TouchActivity" android:label="@string/activity_label_touchevent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="org.vhow.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity android:name=".sensor.SensorActivity" android:label="@string/activity_label_sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="org.vhow.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity android:name=".gesture.GestureActivity" android:label="@string/activity_label_gesture">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="org.vhow.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
    </application>

</manifest>