<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.dailyefforts.android.basic"
    android:versionCode="1"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".AndroidBasicActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".handler.HandlerActivity"
            android:label="@string/activity_label_handler" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".display.DisplayInfo"
            android:label="@string/activity_label_display_info" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".touch.TouchActivity"
            android:label="@string/activity_label_touchevent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sensor.SensorActivity"
            android:label="@string/activity_label_sensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gesture.GestureActivity"
            android:label="@string/activity_label_gesture" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".anim.AnimActivity"
            android:label="@string/activity_label_anim" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ViewActivity"
            android:label="@string/activity_label_view" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".net.NetActivity"
            android:label="@string/activity_label_net" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".popup.PopupWindowActivity"
            android:label="@string/activity_label_popup_window" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>

        <service android:name=".service.HelloIntentService" >
        </service>

        <activity
            android:name=".service.ServiceActivity"
            android:label="@string/activity_label_service" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>

        <service android:name=".service.HelloService" >
        </service>

        <activity
            android:name=".notification.NotificationActivity"
            android:label="@string/activity_label_notification" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>

        <service android:name=".notification.NotificationService" >
        </service>

        <receiver android:name=".receiver.BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.InputMethodChangedEventReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".timertask.TimerTaskActivity"
            android:label="@string/activity_label_timer_task" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.SeekBarActivity"
            android:label="@string/activity_label_seekbar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".editor.EditTextActivity"
            android:label="@string/activity_label_edittext" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.screen.ScreenOrientationActivity"
            android:label="@string/activity_label_screen_orientation"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TranslucentActivity"
            android:label="@string/activity_label_translucent_activity"
            android:theme="@style/Theme.GreenTranslucent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".text.TextBoundsActivity"
            android:label="@string/activity_label_text_bounds" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".text.DrawTextActivity"
            android:label="@string/activity_label_draw_text" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.ViewFlipperActivity"
            android:label="@string/title_activity_view_flipper" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".data.SaveSettings"
            android:label="@string/title_activity_save_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".provider.SettingsSystemData"
            android:label="@string/title_activity_settings_data"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ButtonClicked"
            android:label="@string/title_activity_button_clicked" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".locale.AvailableLocales"
            android:label="@string/title_activity_available_locales" android:theme="@style/Theme.TranslucentActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.gmail.dailyefforts.android.intent.categor.BASIC" />
            </intent-filter>
        </activity>
    </application>

</manifest>